:root {
    --countdown-amount-font-size: 48px;
    --countdown-amount-font-color: rgb(0, 0, 0);
    --countdown-amount-bg: rgb(255, 255, 255);
    --countdown-amount-padding-left: 32px;
    --countdown-amount-padding-right: 32px;
    --countdown-amount-padding-top: 16px;
    --countdown-amount-padding-bottom: 16px;
    --countdown-period-font-size: 10px;
    --countdown-period-font-color: rgb(255, 255, 255);
    --countdown-period-padding-left: 8px;
    --countdown-period-padding-right: 8px;
    --countdown-period-padding-top: 12px;
    --countdown-period-padding-bottom: 12px;
}

.intl-tel-input {
    position: relative;
    display: block !important;
}

@media screen and (max-width: 1200px) {
    .countdown-1 .countdown-section {
        font-size: min(9dvw, 8dvh, 9cqw) !important;
    }

    .countdown-1 .countdown-section .countdown-amount {
        font-size: min(9dvmin, 9cqw) !important;
        padding: unset !important;
        height: unset !important;
    }

    .countdown-1 .countdown-section .countdown-period {
        font-size: 2vw !important;
        padding: unset !important;
    }

    .countdown-4 .countdown-section .countdown-amount .countdown-digit {
        max-height: min(122px, 15dvmin);
        padding: unset !important;
    }

    .countdown-6 {
        font-size: min(9dvw, 8dvh) !important;
    }

    .countdown-6 .countdown-section {
        font-size: min(9dvw, 8dvh) !important;
    }

    .countdown-6 .countdown-section .countdown-period {
        font-size: 2vw !important;
        line-height: min(2.5dvw, 2.5dvh) !important;
    }
}

@media screen and (min-width: 1201px) {
    .countdown-4 .countdown-section .countdown-amount .countdown-digit {
        padding: min(16px, 3vw) min(10px, 2vw) !important;
    }
}

.flip-clock-wrapper {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    min-width: 400px;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.flip-clock-wrapper ul {
    height: 70px;
    width: 40px;
    margin: 2px;
}

.flip-clock-wrapper ul li {
    line-height: 70px !important;
}

.flip-clock-wrapper ul li a div.down,
.flip-clock-wrapper ul li a div.up {
    bottom: -0.5px;
}

.flip-clock-wrapper ul li a div.down div.inn,
.flip-clock-wrapper ul li a div.up div.inn {
    font-size: min(8vmax, 70px) !important;
    text-align: center !important;
    width: 100% !important;
    height: 200% !important;
    padding: 0 !important;
    margin: -1px 0px 0px 0px !important;
    letter-spacing: 0 !important;
    text-transform: initial !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    color: var(--countdown-amount-font-color, #ccc) !important;
    background-color: var(--countdown-amount-bg, #333) !important;
    text-shadow: var(--countdown-flip-text-shadow, 0 1px 2px #000) !important;
}

.flip-clock-wrapper span.flip-clock-divider {
    max-height: min(11.43vmax, 100px);
    margin-left: 5px;
}

.flip-clock-wrapper span.flip-clock-divider span.flip-clock-label {
    width: min(13.72vmax, 140px);
}

.flip-clock-divider {
    width: 6px;
    height: 80px;
    left: -4px;
}

.flip-clock-divider .flip-clock-label {
    top: -15px;
    color: white;
    left: 20px;
}

.flip-clock-dot {
    width: 5px;
    height: 5px;
}

.countdown-box {
    container-type: inline-size;
    container-name: box;
    min-width: min(300px, 5 * var(--countdown-amount-font-size));
}

.countdown-box .countdown-1.countdown-row {
    width: initial;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 95vw;
    width: fit-content;
    max-width: 100%;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size));
}

.countdown-box .countdown-1.countdown-row .countdown-section {
    float: left;
    border-radius: 5px;
    margin: 0px 5px;
    flex: 1;
    flex-shrink: 1;
    overflow: clip;
    /* font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size)) !important; */
    /* border-top-left-radius: clamp(5px, min(9dvmin, 9cqw, var(--countdown-amount-font-size)) / 5.5, 16px) !important; */
    /* border-top-right-radius: clamp(5px, min(9dvmin, 9cqw, var(--countdown-amount-font-size)) / 5.5, 16px) !important; */
    min-width: calc(1.844828 * min(9dvmin, 9cqw, var(--countdown-amount-font-size)) + 15.965517px);
}

.countdown-box .countdown-1.countdown-row .countdown-section .countdown-amount {
    color: #5d5d5d;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #f6f6f6;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size));
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.3;
    height: 60px;
    width: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 75/60;
    width: 100% !important;
    height: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top-left-radius: clamp(5px,
            min(9dvmin, 9cqw, var(--countdown-amount-font-size)) / 5.5,
            16px) !important;
    border-top-right-radius: clamp(5px,
            min(9dvmin, 9cqw, var(--countdown-amount-font-size)) / 5.5,
            16px) !important;
}

.countdown-box .countdown-1.countdown-row .countdown-section .countdown-period {
    line-height: 2;
    display: block;
    background-color: #537893;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #e4e4e4;
    border-top: none;
    font-size: max(10px, var(--countdown-period-font-size));
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    font-size: min(40%, max(10px, var(--countdown-period-font-size))) !important;
    padding-left: var(--countdown-period-padding-left) !important;
    padding-right: var(--countdown-period-padding-right) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-left-radius: clamp(5px,
            min(9dvmin, 9cqw, var(--countdown-amount-font-size)) / 5.5,
            16px) !important;
    border-bottom-right-radius: clamp(5px,
            min(9dvmin, 9cqw, var(--countdown-amount-font-size)) / 5.5,
            16px) !important;
}

.countdown-box .countdown-2.countdown-row {
    width: initial;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 95vw;
    width: fit-content;
}

.countdown-box .countdown-2.countdown-row .countdown-section {
    float: left;
    border-radius: 5px;
    margin: 0px 5px;
    flex: 1;
    flex-shrink: 1;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size)) !important;
}

.countdown-box .countdown-2.countdown-row .countdown-section .countdown-amount {
    color: #5d5d5d;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #f6f6f6;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size));
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.3;
    height: 60px;
    width: 75px;
    display: table-cell;
    height: 75px !important;
    border-radius: 50% !important;
    border: 4px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.countdown-box .countdown-2.countdown-row .countdown-section .countdown-period {
    line-height: 2;
    display: block;
    background-color: #537893;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #e4e4e4;
    border-top: none;
    font-size: max(10px, var(--countdown-period-font-size));
    font-weight: bold;
    color: #fff;
    background: transparent !important;
    border: none !important;
    color: var(--countdown-period-font-color, black) !important;
    background-color: rgba(114, 114, 114, 0);
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0px;
}

.countdown-box .countdown-4.countdown-row {
    width: initial;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 95vw;
    width: fit-content;
}

.countdown-box .countdown-4.countdown-row:has(.countdown-section-days.visible) .countdown-section {
    max-width: 25% !important;
}

.countdown-box .countdown-4.countdown-row:has(.countdown-section-hours.visible) .countdown-section {
    max-width: 30%;
}

.countdown-box .countdown-4.countdown-row .countdown-section {
    float: left;
    border-radius: 5px;
    margin: 0px 5px;
    flex: 1;
    flex-shrink: 1;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size)) !important;
    margin: 0 min(5px, 0.5dvmin) !important;
    overflow: clip;
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-amount {
    color: #5d5d5d;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: min(5px, 0.5dvmin);
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-amount:before {
    font-size: min(6dvmin, var(--countdown-amount-font-size)) !important;
    content: ":";
    align-self: center;
    order: 1;
    margin-left: min(5px, 0.5dvmin);
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-amount.countdown-amount-seconds {
    max-width: fit-content !important;
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-amount.countdown-amount-seconds:before {
    opacity: 0;
    width: 0 !important;
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-amount .countdown-digit {
    border-radius: 5px;
    flex-shrink: 1;
    aspect-ratio: 40/61;
    border-radius: 12px !important;
    align-content: center;
    width: calc(0.9777777778 * min(9dvmin, 9cqw, var(--countdown-amount-font-size))) !important;
    max-width: 45%;
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-period {
    line-height: 2;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 12px;
    margin-bottom: min(5px, 0.5vw);
    margin-right: 28px;
    aspect-ratio: 181/24;
    width: calc(1.9555555556 * min(9dvmin, 9cqw, var(--countdown-amount-font-size)) - min(2.5px, 0.25vw));
}

.countdown-box .countdown-4.countdown-row .countdown-section .countdown-period.countdown-period-seconds {
    margin-right: 0;
}

.countdown-box .countdown-4.countdown-row .countdown-section.countdown-section-seconds {
    max-width: fit-content !important;
}

.countdown-box .countdown-5.countdown-row {
    display: flex;
    z-index: 20;
    gap: 1rem;
    justify-content: center;
    max-width: 90vw;
}

.countdown-box .countdown-5.countdown-row:has(.countdown-section-days.visible) .countdown-section {
    max-width: 22% !important;
}

.countdown-box .countdown-5.countdown-row:has(.countdown-section-hours.visible) .countdown-section {
    max-width: 30%;
}

.countdown-box .countdown-5.countdown-row .countdown-section {
    display: flex;
    gap: min(0.25rem, 0.5vw);
    justify-content: space-between;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size)) !important;
}

.countdown-box .countdown-5.countdown-row .countdown-section:not(.countdown-section-seconds):before {
    font-size: max(min(9dvmin, 9cqw, var(--countdown-amount-font-size)) * 0.5,
            8px);
    color: var(--countdown-period-font-color);
    content: ":";
    align-self: center;
    order: 1;
}

.countdown-box .countdown-5.countdown-row .countdown-section .countdown-amount {
    gap: min(0.25rem, 0.5vw);
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
    font-weight: 700;
    background-image: none;
    max-width: 180px;
    background-color: transparent !important;
    text-align: left;
    display: flex;
    padding: 0 !important;
    width: unset !important;
    height: unset !important;
    font-size: min(9dvmin, 9cqw, var(--countdown-amount-font-size)) !important;
    overflow: visible;
}

.countdown-box .countdown-5.countdown-row .countdown-section .countdown-period {
    padding-bottom: min(0.25rem, 0.5vw);
    gap: min(0.25rem, 0.5vw);
    align-content: flex-end;
    border-bottom-right-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
    font-weight: 500;
    background-image: none;
    max-width: 80px;
    background-color: transparent !important;
    font-size: min(var(--countdown-period-font-size),
            0.5 * min(9dvmin, 9cqw, var(--countdown-amount-font-size))) !important;
}

.countdown-box .countdown-6.countdown-row {
    display: flex;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: max(1rem, 5px);
    backdrop-filter: blur(16px);
    font-size: clamp(38px, var(--countdown-amount-font-size), 9vw);
}

.countdown-box .countdown-6.countdown-row .countdown-section {
    display: flex;
    flex-direction: column;
    font-size: clamp(38px, var(--countdown-amount-font-size), 9vw);
    max-height: 2.5em;
}

.countdown-box .countdown-6.countdown-row .countdown-section:first-child .countdown-amount {
    padding-left: 0.5em !important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 0 !important;
}

.countdown-box .countdown-6.countdown-row .countdown-section:first-child .countdown-period {
    width: calc(100% - 2em);
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 0 !important;
}

.countdown-box .countdown-6.countdown-row .countdown-section:last-child .countdown-amount {
    max-width: 1.1123666667em;
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 0 !important;
    width: auto;
    height: 2.5em;
}

.countdown-box .countdown-6.countdown-row .countdown-section:last-child .countdown-period {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 0 !important;
}

.countdown-box .countdown-6.countdown-row .countdown-section:not(:first-child, :last-child) .countdown-amount,
.countdown-box .countdown-6.countdown-row .countdown-section:not(:first-child, :last-child) .countdown-period {
    border-radius: 0 !important;
}

.countdown-box .countdown-6.countdown-row .countdown-section:not(:first-child, .countdown-section-seconds) .countdown-period {
    box-sizing: content-box;
    transform: translateX(-2em);
    margin-left: 1.25em;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-period-minutes {
    padding-right: 2em;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-amount {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    display: flex;
    min-width: 1.3523555556em;
    box-sizing: content-box;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
    padding-right: 0.5em !important;
    text-transform: uppercase;
    justify-content: center;
    height: unset !important;
    width: unset !important;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-amount:not(.countdown-amount-seconds) {
    min-width: 1.6625em;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-amount:not(.countdown-amount-seconds):before {
    content: "";
    align-self: stretch;
    order: 1;
    margin-left: 0.5em;
    border: 1px solid white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-period {
    font-size: min(0.3em, var(--countdown-period-font-size)) !important;
    height: calc(4 * max(10px, var(--countdown-period-font-size)));
    line-height: 1rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding-bottom: 5px;
    border-radius: 0px !important;
    justify-content: center;
    border: medium;
    padding-top: 0 !important;
    padding-bottom: min(0.3em, var(--countdown-period-font-size)) !important;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-period:not(.countdown-period-minutes) {
    padding-right: 1.25em;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-period:not(.countdown-period-days, .countdown-period-hours) {
    width: 100%;
}

.countdown-box .countdown-6.countdown-row .countdown-section .countdown-period:not(.countdown-period-seconds) {
    margin: auto;
}